<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>


    {% block cssblock %}

    {% endblock %}

</head>

<body>
    {% include 'homepage/header.html' %}

    {% block content %}

    {% endblock %}

    {% include 'homepage/footer.html' %}

    {%block jsblock %}

    {% endblock %}

</body>

</html>