
{% load static %}

<footer id="footer"><!--Footer-->
    <br>
    <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-left">


                        <ul>
                            <li>Địa chỉ : 179 Nguyễn Văn Trỗi , Mỗ Lao , Hà Đông, Hà Nội </li>
                            <li>Số điện thoại : +84 942558609</li>
                            <li>Địa chỉ email : hongsonaaa@gmail.com</li>
                        </ul>
                        <div class="footer-social">
                            <a href="https://www.facebook.com/hongson13499/"><i class="fa fa-facebook"></i></a>
                            <a href="https://www.instagram.com/nhs1304/"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1">
                    <div class="footer-widget">
                        <h5>Information</h5>
                        <ul>
                            <li><a href="#">Giới thiệu</a></li>

                            <li><a href="#">Liên hệ</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h5>Tài khoản của tôi</h5>
                        <ul>
                            <li><a href="#">Tài khoản của tôi</a></li>
                            <li><a href="#">Liên hệ</a></li>
                            <li><a href="#">Giỏ hàng</a></li>
                            <li><a href="#">Cửa hàng</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="newslatter-item">
                        <h5>Gửi thư cho chúng tôi</h5>
                        <p>Điền email của bạn để nhận ưu đãi</p>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Điền E-mail">
                            <button type="button">Đăng ký</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-reserved">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="payment-pic">
                            <img src="img/payment-method.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

	</footer><!--/Footer-->